.header-component{
    .sitenav{
        position: fixed;
        width: 100%;
        height: 50px;
        padding: 12px 23px 13px;
        background: #293038;
        color: white;
        z-index: 100;

        h3{
            font-size: 18px;
            line-height: 25px;
            height: 25px;
            float: left;
            margin-right: 40px;
        }

        ul li{
            float: left;
            line-height: 25px;
            font-size: 14px;
            height: 25px;
            margin-right: 20px;
        }

        ul li a{
            color:white;
            font-size: 14px;
        }
    }
}
